In [3]:
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]
dict = {"groups": groups, "num": num} 
select_df = pd.DataFrame(dict)

In [6]:
print(select_df.iloc[:,1])

0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64

In [7]:
print(select_df["num"])

0    46
1     8
2    12
3    12
4     6
5    58
Name: num, dtype: int64

In [8]:
print(select_df.iloc[0, 1])

46

In [16]:
df=pd.read_html('https://housing.kcg.gov.tw/LFA/LFA03/LFA03007004.jsp')

In [17]:
for i, table in enumerate(df):
    print(i, len(table))

0 16
1 1
2 1
3 6
4 6
5 6
6 6
7 6
8 6
9 6
10 6

In [18]:
df[3].head()

,時間,時間.1,高雄市,高雄市.1,鹽埕區,鹽埕區.1,鼓山區,鼓山區.1,左營區,左營區.1,楠梓區,楠梓區.1
0,年度,NaN,人口密度 (人/平方公里),家戶密度 (戶/平方公里),人口密度 (人/平方公里),家戶密度 (戶/平方公里),人口密度 (人/平方公里),家戶密度 (戶/平方公里),人口密度 (人/平方公里),家戶密度 (戶/平方公里),人口密度(人/平方公里),家戶密度(戶/平方公里)
1,104,NaN,942,362,17794,7659,9238,3788,10107,3992,6941,2587
2,105,NaN,942,365,17515,7631,9311,3843,10143,4023,7006,2641
3,106,NaN,942,368,17247,7626,9398,3911,10165,4060,7078,2699
4,107,NaN,941,371,17060,7614,9474,3966,10151,4079,7151,2759