In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
import webbrowser
from ipywidgets import interact
import sympy as sp

In [3]:
df_tmp=pd.read_html('https://tw.stock.yahoo.com/s/list.php?c=%B6%EC%BD%A6&rr=0.06800200%201574165733',encoding='big5')

In [4]:
df_tmp[2]

,選擇,股票代號,時間,成交,買進,賣出,漲跌,張數,昨收,開盤,最高,最低
0,NaN,1301 台塑,14:30,97.40,97.30,97.40,0.00,3751,97.40,96.60,97.40,96.50
1,NaN,1303 南亞,14:30,71.90,71.80,71.90,△0.1,4383,71.80,71.00,72.10,71.00
2,NaN,1304 台聚,13:30,13.50,13.45,13.50,▽0.15,1692,13.65,13.65,13.65,13.40
3,NaN,1305 華夏,14:30,21.90,21.85,21.90,△0.65,1803,21.25,21.45,21.90,21.30
4,NaN,1307 三芳,14:30,23.75,23.75,23.80,▽0.10,120,23.85,23.85,24.00,23.70
5,NaN,1308 亞聚,13:30,15.55,15.55,15.60,▽0.05,442,15.60,15.70,15.70,15.50
6,NaN,1309 台達化,13:30,10.80,10.80,10.85,▽0.05,560,10.85,10.90,10.95,10.75
7,NaN,1310 台苯,13:30,21.05,21.00,21.05,▽0.10,2445,21.15,21.15,21.15,21.00
8,NaN,1312 國喬,14:30,18.15,18.10,18.15,0.00,1445,18.15,18.20,18.25,18.10
9,NaN,1312A 國喬特,09:00,34.35,33.85,34.30,0.00,1,34.35,34.35,34.35,34.35
10,NaN,1313 聯成,14:30,10.80,10.75,10.80,△0.20,1604,10.60,10.65,10.80,10.65
11,NaN,1314 中石化,14:30,9.67,9.67,9.68,▽0.05,7136,9.72,9.70,9.71,9.66
12,NaN,1315 達新,14:30,46.20,46.15,46.20,△1.00,665,45.20,45.25,46.50,44.30
13,NaN,1321 大洋,13:30,36.85,36.80,36.85,▽0.35,223,37.20,37.30,37.30,36.70
14,NaN,1323 永裕,14:30,34.10,34.10,34.15,▽0.20,113,34.30,34.35,34.40,34.10
15,NaN,1324 地球,12:35,9.70,9.76,9.77,0.00,13,9.70,9.70,9.70,9.70
16,NaN,1325 恆大,13:30,15.70,15.60,15.70,0.00,16,15.70,15.70,15.70,15.60
17,NaN,1326 台化,14:30,87.00,87.00,87.10,▽0.4,4459,87.40,87.00,87.20,86.70
18,NaN,1337 再生-KY,13:30,5.90,5.90,5.95,△0.04,523,5.86,5.86,6.04,5.86
19,NaN,1340 勝悅-KY,14:30,15.55,15.50,15.55,△0.15,200,15.40,15.50,15.55,15.40
20,NaN,1341 富林-KY,13:24,62.20,61.00,62.00,▽0.3,3,62.50,62.40,62.40,62.20
21,NaN,4306 炎洲,13:30,11.25,11.20,11.25,△0.15,777,11.10,11.20,11.25,11.15

In [5]:
df_tmp[2].head()

,選擇,股票代號,時間,成交,買進,賣出,漲跌,張數,昨收,開盤,最高,最低
0,NaN,1301 台塑,14:30,97.40,97.30,97.4,0.00,3751,97.40,96.60,97.40,96.5
1,NaN,1303 南亞,14:30,71.90,71.80,71.9,△0.1,4383,71.80,71.00,72.10,71.0
2,NaN,1304 台聚,13:30,13.50,13.45,13.5,▽0.15,1692,13.65,13.65,13.65,13.4
3,NaN,1305 華夏,14:30,21.90,21.85,21.9,△0.65,1803,21.25,21.45,21.90,21.3
4,NaN,1307 三芳,14:30,23.75,23.75,23.8,▽0.10,120,23.85,23.85,24.00,23.7

In [6]:
df_tmp[2].describe()

,選擇,成交,買進,賣出,張數,昨收,開盤,最高,最低
count,0.0,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,NaN,30.603182,30.494545,30.611364,1471.545455,30.578636,30.520909,30.727273,30.346364
std,NaN,26.399761,26.317361,26.389565,1891.640425,26.444731,26.229464,26.433219,26.177622
min,NaN,5.900000,5.900000,5.950000,1.000000,5.860000,5.860000,6.040000,5.860000
25%,NaN,11.812500,11.762500,11.812500,140.000000,11.737500,11.812500,11.850000,11.712500
50%,NaN,19.600000,19.550000,19.600000,612.500000,19.650000,19.675000,19.700000,19.550000
75%,NaN,36.225000,36.125000,36.212500,1775.250000,36.487500,36.562500,36.575000,36.112500
max,NaN,97.400000,97.300000,97.400000,7136.000000,97.400000,96.600000,97.400000,96.500000

In [7]:
df_tmp[2][df_tmp[2].最高>300].sort_values(by="最高",ascending=False)

Empty DataFrame
Columns: [選擇, 股票代號, 時間, 成交, 買進, 賣出, 漲跌, 張數, 昨收, 開盤, 最高, 最低]
Index: []